
.card-slideshow{

    background-color: hsl(180deg 57.31% 63.11%);
    padding: 25px;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    height: 50vh; /* Adjust as needed */
}

.review {
    box-sizing: content-box;
    background:lightcyan ;
    padding: 1.5rem 2rem;
    border-radius: 5px;
    margin:30px;
    box-shadow:black;
    width: 200px;
    display:inline-flex;
    height: 200px;
    
  }
  .review:hover {
    box-shadow: black;
    cursor:default;
  }

  .quote-icon {
    color: lightblue ;
  }
  .quote-icon-right {
    color: lightblue ;
    position: relative;
    right: 0px; bottom: 0px;
  }
  .author {
    margin-bottom: 0.25rem;
    font-size: 20px;
    font-weight: bold;
    color: black;
    font-family:monospace;
  }

  .info {
    color: rgb(0 173 238);
    margin-bottom: 0.75rem;
    font-family:sans-serif;
  }