.processrequests {
    display: flex;
    justify-content: center;
    color: #555;
    background-color: rgb(223, 240, 247);
  }
  
  .processrequests .container {
    background-color: transparent;
    width: 1400px;
    padding: 50px 0px;
  }
  
  .processrequests .container .title {
    display: flex;
    justify-content: space-between;
  }
  
  .processrequests .container .title button {
    background-color: #1dbf73;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .processrequests table {
    width: 100%;
    
  }
  
  .processrequests table tr {
    height: 100px;
  }
  
  .processrequests table tr th {
    text-align: left;
  }
  
  .processrequests table tr td sup {
    font-size: 12px;
  }
  
  .processrequests table tr td .image {
    width: 50px;
    height: 25px;
    object-fit: cover;
    padding-left: 50px;
  }
  
  .processrequests table tr td .message {
    width: 25px;
    cursor: pointer;
  }
  
  .processrequests table tr:nth-child(even) {
    background-color: #1dbf730f;
  }
  